@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Please create an ASP.Net MVC application to showcase your development skills in .Net. The application should let
    the user pick widgets from a given list, enter quantity and state. When the user clicks calculate button, it should
    display discount, sales tax and total price.
</p><br/>
 <p>
    All Widgets should have a name, base price, and discount indicator (true/false).
    Widgets are given a discount of 10% if the discount indicator is true. The total price of a widget should be determined by
    adding the base price - discount (if applicable) + tax. Tax is calculated based on the currently selected state. All states
    have a 5% flat tax rate except for TX and FL (which have no  tax rate of 0%). You can store the data in memory or use
    Microsoft SQL Server Compact 4.0 which can be downloaded from <a href="https://www.microsoft.com/en-us/download/details.aspx?id=17876">here</a>.
    If you don’t have Visual Studio, you can download Community Edition from
    <a href="https://beta.visualstudio.com/vs/community/">here</a>
</p><br />
<p>
    Please showcase your knowledge of dependency injection and layered/hexagonal architecture. You can use any dependency
    injection library you are familiar with. The solution should also have unit tests. You can use MSTest or any xUnit testing
    framework. Provide some examples of mocking in your unit tests. You are free to choose any mocking library.
</p><br />
<p>
    Please email the code to the recruiter or you can save it in your public github and give us read-only access.
</p>
<br/>
<br />
<br />