@{
    ViewBag.Title = "Contact";
}

<!-- Inner Page Content // Start -->

<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Inner Page Content Sidebar -->
                <div class="page-sidebar">
                    <!-- Page Title -->
                    <div class="page-title br-pink">
                        <!-- Inner Page Title // Heading -->
                        <h2>Contact Us</h2>
                        <!-- Paragraph -->
                        <p>
                            Providing software development and consulting services to small, medium and large businesses. Specializing in Microsoft Technologies.
                        </p>
                    </div>
                    <!-- Sidebar Links -->
                    <div class="sidebar-link col-disable">
                        <!-- Search Box -->
                        <div class="search">
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Home")" class="animated">Home <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="@Url.Action("About","Home")" class="animated">About Us <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="@Url.Action("Index","Widget")" class="animated">Order Widgets <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="@Url.Action("Contact","Home")" class="animated">Contact Us <i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Main-bar Column -->
            <div class="col-md-9">
                <div class="page-mainbar contactus">
                    <!-- Heading -->
                    <h3>Corporate Office</h3>
                    <!-- Contact Us Content -->
                    <div class="contactus-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <!-- Contact Us Content Item -->
                                <div class="content-item">
                                    <!-- Icon -->
                                    <i class="fa fa-map-marker lblue"></i>
                                    <!-- Heading -->
                                    <h4>Address</h4>
                                    <!-- Paragraph -->
                                    <p class="grey">8 Chase gayton Drive Suite 325 Henrico, Virginia 23238 - 6511</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Contact Us Content Item -->
                                <div class="content-item">
                                    <!-- Icon -->
                                    <i class="fa fa-envelope red"></i>
                                    <!-- Heading -->
                                    <h4>Email</h4>
                                    <!-- Paragraph -->
                                    <p><a href="mailto:tim@conradenterprise.com">tim@conradenterprise.com</a><br /><a href="mailto:tbconrad@gmail.com">tbconrad@gmail.com</a></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Contact Us Content Item -->
                                <div class="content-item">
                                    <!-- Icon -->
                                    <i class="fa fa-phone-square green"></i>
                                    <!-- Heading -->
                                    <h4>Voice Call</h4>
                                    <!-- Paragraph -->
                                    <p><a href="#">804 - 405 - 2072</a><br /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Heading -->
                    <!-- Heading -->
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <!-- Google Map -->
                                <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.623019559143!2d-77.59098338426081!3d37.61103037978963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b16b193ac194cb%3A0x4f4a0cc5cbbcdb87!2s8+Chase+Gayton+Dr%2C+Henrico%2C+VA+23238!5e0!3m2!1sen!2sus!4v1478766215584"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inner Page Content // End -->