<?xml version="1.0" encoding="utf-8"?>
<LiveUnitTestingConfiguration>
  <Enabled>False</Enabled>
  <Projects>
    <!-- Disable building/instrumenting or running tests by adding a project entry
         with a corresponding property. For example:
         <Project Path="./path/to/Project.csproj"
                  Instrument="False"
                  Build="False"
                  Test="False">
           <SkipTests>
             <Test>Fully.Qualified.Name</Test>
           </SkipTests>
         </Project> -->
    <Project Path="WidgetTest\WidgetTest.csproj" />
    <Project Path="WidgetTest.Tests\WidgetTest.Tests.csproj" />
    <Project Path="WidgetTestService\WidgetTestService.csproj" />
    <Project Path="WidgetTestService.Tests\WidgetTestService.Tests.csproj" />
  </Projects>
</LiveUnitTestingConfiguration>