<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>Acme Widget Co., 404 Error</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="~/content/animate.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/content/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/content/style.css" rel="stylesheet">
    <!--[if IE]><link rel="stylesheet" href="~/content/ie-style.css"><![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>

    <!-- Body Wrapper -->
    <div class="wrapper white">

        <!-- Inner Page Content // Start -->

        <div class="inner-page">
            <div class="container">
                <div class="page-mainbar error">
                    <!-- Coming Soon Content -->
                    <div class="error-content br-red">
                        <!-- Heading -->
                        <h2>Oops<span>!!!</span> it<span>'</span>s <span>404!!!</span></h2>
                        <!-- paragraph -->
                        <p>We are sorry, the page you requested cannot be found.</p>
                        <!-- Border design for page -->
                        <div class="line-border"></div>
                        <!-- Visited link list -->
                        <div class="link-list">
                            <a href="@Url.Action("Index","Home")">Home</a>
                            <a href="@Url.Action("About","Home")">About us</a>
                            <a href="@Url.Action("Contact","Home")">Contact</a>
                            <a href="@Url.Action("Index","Widget")">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inner Page Content // End -->

    </div>
    <!-- Footer End -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>


    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="~/scripts/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/scripts/bootstrap.min.js"></script>
    <!-- jQuery way points -->
    <script src="~/scripts/waypoints.min.js"></script>
    <!-- jQuery prettyPhoto & Isotope -->
    <script src="~/scripts/jquery.prettyPhoto.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="~/scripts/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/scripts/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="~/scripts/custom.js"></script>
    <!-- This Page JavaScript -->
    <script type="text/javascript">

			// Type your codde here
    </script>
</body>
</html>